* {
  box-sizing: border-box;
}


body {
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  line-height:1.5;
  color: #333;
  overflow-x: hidden;
  background-image: #f4f4f4;
  background-size: 100%;
}

h1:hover, h3:hover{
    color: #ffffff;
}

h4:hover {
  text-indent: 10px;
}

h4{
  text-align: center;
}

header {
  height: 100%;
  text-align: center;
  color: #000000;
  background-color: #5CEBB7;
  padding-top: 30px;
  opacity: 0.8;
}

#map {
  text-align: center;
  width: 50%;
  margin: 0 auto;

}

img {
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 15%;
  border: 5px solid white;
}


img:hover {
  border: none;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
  text-align: center;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.textColumn,
.mapColumn {
   float: left;
}

.textColumn {
  width: 50%;
}

.mapColumn {
  width: 50%;
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
